@import url('https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0&family=Imprima&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geologica", sans-serif;

}

body {
    background-color: #EDD4C0;
    color: black;
    text-align: center;
}

.header_Phoria {
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
    box-shadow: 30px 30px 30px rgba(0,0,0,0.2);
    

}

.hero {
    padding-bottom: 1em ;
    font-weight: normal;
    padding-top: 2em;
}

.slogan {
    padding-bottom: 1em;
}

.intro_text {
    padding-bottom: 2em;
}

.phoria_Img {
    padding-bottom: 1em;
}

.merch_btn {
    display: flex;
    margin-left: 8em;
    margin-bottom: 1em;
    width: fit-content;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 10px 0px 50px rgba(0,0,0,0.2);
    padding-right: 3em;
    padding-left: 3em;
    padding-bottom: 2em;
    padding-top: 2em;
    text-decoration: none;
    color: black;
}

.fa-solid {
    color: black;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2em;
}