@import url('https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0&family=Imprima&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geologica", sans-serif;

}

body {
    background-color: #EDD4C0;
    color: black;
    text-align: center;
}

.header_Phoria {
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
}

.hero {
    padding-bottom: 1em ;
    font-weight: normal;
}

.slogan {
    padding-bottom: 1em;
}

.intro_text {

}

.phoria_Img {

}