@import url('https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0&family=Imprima&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geologica", sans-serif;

}

body {
    background-color: #EDD4C0;
    color: black;
    text-align: center;
}

    /*dit is de welkompage css */

.header_Phoria {
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
    box-shadow: 30px 30px 30px rgba(0,0,0,0.2);
    

}

.hero {
    padding-bottom: 1em ;
    font-weight: normal;
    padding-top: 2em;
}

.slogan {
    padding-bottom: 1em;
}

.intro_text {
    padding-bottom: 2em;
}

.phoria_Img {
    padding-bottom: 1em;
}

.merch_btn {
    display: flex;
    margin-left: 8em;
    margin-bottom: 1em;
    width: fit-content;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 10px 0px 50px rgba(0,0,0,0.2);
    padding-right: 3em;
    padding-left: 3em;
    padding-bottom: 2em;
    padding-top: 2em;
    text-decoration: none;
    color: black;
}

.fa-solid {
    color: black;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2em;
}

/*dit is de regenjas css */

.regenjas_Img {
    margin-top: 3em;
    margin-bottom: 2em;
}

.P_regenjas{
    font-weight: normal;
    margin-bottom: 3em;
}

.prijs {
    margin-bottom: 1em;
    text-align: left;
    margin-left: 7em
}

.maten {
    text-align: left;
    margin-left: 7em;
}

.maten-rij  a{
    text-decoration: none;
    gap: 2rem;
    margin-bottom: 0.6rem;
    color: black;
    padding: 0.4rem 0.7rem;
    border-radius: 8px;
    background: transparent;
    
}


.winkelmand_btn {
    margin-top: 2em;
    margin-left: 8em;
    margin-bottom: 1em;
    width: fit-content;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 10px 0px 50px rgba(0,0,0,0.2);
    padding-right: 3em;
    padding-left: 3em;
    padding-bottom: 1em;
    padding-top: 1em;
    color: black;
}

.back-btn {
  display: flex;
  align-items: left;
  justify-content: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  text-decoration: none;

}

/*dit is de totebag css */

.totebag_Img {
    margin-bottom: 2em;
}

.P_totebag{
    margin-bottom: 2em;
}

.prijs {
    margin-bottom: 2em;
}

.winkelmand_btn{
    margin-left: 9em;
}